alabaster==0.7.12
alembic==1.5.8
altair==4.1.0
anyio==2.2.0
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
argon2-cffi==20.1.0
arrow==1.0.3
asgiref==3.3.4
astor==0.8.1
astroid==2.5.3
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.6
Babel==2.9.0
backcall==0.2.0
base58==2.1.0
bcrypt==3.2.0
beautifulsoup4==4.8.2
binaryornot==0.4.4
black==20.8b1
bleach==3.3.0
blinker==1.4
bottle==0.12.15
Brlapi==0.7.0
Brotli==1.0.9
CacheControl==0.12.6
cachetools==4.2.2
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
cheroot==8.5.2
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==1.6.0
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
contextlib2==0.6.0.post1
cookiecutter==1.7.2
cryptography==3.4.7
cupshelpers==1.0
cycler==0.10.0
dash==1.20.0
dash-bootstrap-components==0.12.2
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
deprecation==2.1.0
diff-match-patch==20200713
distlib==0.3.0
distro==1.4.0
Django==3.2
django-adminlte2==0.4.3
django-queryset-csv==1.1.0
dnspython==2.1.0
docutils==0.16
email-validator==1.1.2
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
Fiona==1.8.20
fire==0.4.0
flake8==3.9.1
Flask==1.1.2
Flask-BabelEx==0.9.4
Flask-Compress==1.9.0
Flask-Gravatar==0.5.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security-Too==3.4.5
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
frozendict==1.2
future==0.18.2
geopandas==0.9.0
gitdb==4.0.7
GitPython==3.1.14
greenlet==1.0.0
grpcio==1.16.1
gunicorn==20.1.0
helpdev==0.7.1
html5lib==1.0.1
httplib2==0.14.0
icon-font-to-png==0.4.1
idna==2.8
ifaddr==0.1.6
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==1.5.0
inflection==0.5.1
iniconfig==1.1.1
intervaltree==3.1.0
ipaddr==2.2.0
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.8.0
itsdangerous==1.1.0
jaraco.functools==3.3.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.3
jinja2-time==0.2.0
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-packaging==0.9.1
jupyter-server==1.6.2
jupyterlab==3.0.14
jupyterlab-pygments==0.1.2
jupyterlab-server==2.4.0
jupyterlab-widgets==1.0.0
jupyterthemes==0.20.0
keyring==18.0.1
kiwisolver==1.0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.6.0
ldap3==2.9
lesscpy==0.14.0
lockfile==0.12.2
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.3.4
MarkupSafe==1.1.0
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
mlxtend==0.18.0
mongoquery==1.3.6
more-itertools==4.2.0
mplcyberpunk==0.1.11
mpmath==1.2.1
msgpack==1.0.2
munch==2.5.0
mypy-extensions==0.4.3
nbclassic==0.2.7
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nemo-emblems==4.6.0
nest-asyncio==1.5.1
netifaces==0.10.4
networkx==2.4
nltk==3.6.1
nose==1.3.7
notebook==6.3.0
numpy==1.17.4
numpydoc==1.1.0
oauthlib==3.1.0
objectpath==0.6.1
onboard==1.4.1
opencv-python==4.5.1.48
openpyxl==3.0.7
packaging==20.3
palettable==3.3.0
PAM==0.4.2
pandas==1.2.4
pandocfilters==1.4.3
paramiko==2.7.2
parso==0.7.0
passlib==1.7.4
pathspec==0.8.1
pbr==5.5.1
peewee==3.14.4
pep517==0.10.0
pexpect==4.6.0
pgadmin4==5.1
pickleshare==0.7.5
Pillow==7.0.0
plotly==4.14.3
pluggy==0.13.1
ply==3.11
poyo==0.5.0
progress==1.5
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.16.0
psutil==5.8.0
psycopg2-binary==2.8.6
ptyprocess==0.7.0
py==1.10.0
pyarrow==4.0.0
pyasn1==0.4.8
PyAudio==0.2.11
pycairo==1.16.2
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pydeck==0.6.2
pydocstyle==6.0.0
pyflakes==2.2.0
Pygments==2.8.1
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==1.7.1
pylint==2.7.4
pyls-black==0.4.6
pyls-spyder==0.3.2
pymacaroons==0.13.0
PyNaCl==1.3.0
PyOpenGL==3.1.0
pyparsing==2.4.6
pyparted==3.11.2
pyproj==3.1.0
PyQt5==5.12.3
PyQt5-Qt==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqtgraph==0.11.0rc0
PyQtWebEngine==5.12.1
PyQtWebEngine-Qt==5.15.2
PyQtWebEngine-Qt5==5.15.2
pyRFC3339==1.1
pyrsistent==0.17.3
pytest==6.2.3
pytest-json-report==1.2.4
pytest-metadata==1.11.0
python-apt==2.0.0+ubuntu0.20.4.5
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-editor==1.0.4
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-slugify==4.0.1
python-xapp==2.0.1
python-xlib==0.23
pytoml==0.1.21
pytz==2021.1
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==18.1.1
QDarkStyle==3.0.2
qstylizer==0.1.10
QtAwesome==1.0.2
qtconsole==5.0.3
QtPy==1.9.0
regex==2021.4.4
reportlab==3.5.34
requests==2.25.1
requests-futures==1.0.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
retrying==1.3.3
rope==0.18.0
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.3.3
seaborn==0.11.1
SecretStorage==2.3.1
Send2Trash==1.5.0
setproctitle==1.1.10
Shapely==1.7.1
simplejson==3.16.0
sip==4.19.21
six==1.14.0
smmap==4.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.3.0
soupsieve==1.9.5
South==1.0.2
speaklater==1.3
speaklater3==1.4
Sphinx==3.5.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==5.0.1
spyder-kernels==2.0.1
SQLAlchemy==1.4.8
sqlite-web==0.3.7
sqlparse==0.4.1
sshtunnel==0.4.0
streamlit==0.81.1
stylecloud==0.5.1
sympy==1.8
systemd-python==234
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
testresources==2.0.1
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==2.1.0
three-merge==0.1.1
tifffile==2021.4.8
tinycss==0.4
tinycss2==1.0.2
toml==0.10.2
tomlkit==0.7.0
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
typed-ast==1.4.3
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
ubuntu-advantage-tools==27.0
ubuntu-drivers-common==0.0.0
ufw==0.36
ujson==4.0.2
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.25.8
validators==0.18.2
vboxapi==1.0
virtualenv==20.0.17
wadllib==1.3.3
waitress==1.4.1
watchdog==2.0.2
wavio==0.0.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.12.1
WTForms==2.3.3
wurlitzer==2.1.0
xgboost==1.4.0
xkit==0.0.0
xlrd==2.0.1
yapf==0.31.0
youtube-dl==2021.4.17
zeroconf==0.24.4
zipp==1.0.0
